Welcome to Gate biriyani, <%= @user.name %>
===============================================
 
You have successfully signed up to Gate biriyani,

 
click to verify your email: <%= @url %>
 
Thanks for joining and have a great day!