
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Gate Biriyani, <%= @user.name %></h1>
    <p>
      You have successfully signed up to Gate Biriyani,
    </p>
    <p>
      click to verify your email: <%= @url %>
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>